<?xml version="1.0" encoding="utf-8" ?>
<configuration>

 
  
  
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.RecursosHumanos" connectionString="Data Source=NOTE;Initial Catalog=RecursosHumanos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>